*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background: #F6F8FB;
}

@media screen and (max-width: 900px) {
  .app .upload {
    width: 80vw;
  }

  .app .upload .drop {
    width: 70%
  }

  .app .uploading {
    width: 80vw;
  }

  .app .preview {
    width: 80vw;
  }

  .app .preview img {
    width: 70%;
  }

  .app .preview .copy {
    width: 80%;
  }
}
